$title-text-color: #28282d;
$border-color: #e6e6e6;
$primary--button-color: #8d76b2;
$menu-button: #685980;
$primary-background-color: #ffffff;
$search-text: #999aa5;
$item-background-color: #f5f9fa;
$item-text: #64646a;
$dots-blockLog: #f5f9fa;
$dots-block-hover: #adaeb7;
$burger-color: #251c2d;
$icon-hover: #000;
$app-text: #cbb8ea;
$background: rgba(27, 27, 31, 0);
$slider-text: rgba(27, 27, 31, 1);
$slider-color: #34343a;
$slider-info-text: #cecfda;
